{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-flow",
      {
        "targets": {
          "browsers": "> 2%"
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}